@import "tailwindcss";

@utility white-filter {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(128deg) brightness(102%) contrast(104%);
}

body {
    font-family: 'Onest', sans-serif;
    /* antialiased */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-quotes {
    quotes: none;
}

.hero-image {
    background-image: url("../../public/img/fred-hero.jpg");
}

.home-in-company-image {
    background-image: url("../../public/img/fred-home-in-company.jpg");
}

.home-checkmate-image {
    background-image: url("../../public/img/fred-home-checkmate.jpg");
}

.home-quick-wins-image {
    background-image: url("../../public/img/fred-home-quick-wins.png");
}

.google-maps-placeholder-image {
    background-image: url("../../public/img/google-maps-placeholder.png");
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.video-image-1 {
    background-image: url("../../public/img/fred-video-1.jpg");
}

.video-image-2 {
    background-image: url("../../public/img/fred-video-2.jpg");
}

.video-image-3 {
    background-image: url("../../public/img/fred-video-3.jpg");
}

.video-image-4 {
    background-image: url("../../public/img/fred-video-4.jpg");
}

.video-image-5 {
    background-image: url("../../public/img/fred-video-5.jpg");
}